form {
  display: flex;
  flex-direction: column;

  label {
    display: inherit;
    flex-direction: inherit;
    margin-bottom: 15px;

    input, textarea {
      padding: 10px;
      border-radius: 10px;
      border: none;
      background: #E5E5E5;
    }

    .req-text {
      margin-top: 0;
      font-size: .8rem;
      color: #898989;
      text-align: right;
    }
  }

  .cta {
    margin-top: 0;
  }
}

.social {
  margin-top: 10px;

  &__icon {
    margin-right: 10px;
  }
}