.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background: white;
  box-shadow: 0 3px 3px 0 rgba(black, .2);

  display: grid;
  grid-template-columns: 1fr auto 3fr 1fr;

  &__logo {
    grid-column: 2 / span 1;
  }

  &__menu {
    all: initial;
    margin-left: auto;
  }

  &__item {
    list-style-type: none;
    display: inline;
    margin-left: 1em;
  }

  &__link {
    text-decoration: none;
    color: #444;
    font-family: 'Fredoka One', cursive;

    &--active {
      color: #7018A7;
    }
  }
}

