.project-item {
  margin-top: 150px;
  position: relative;

  &__img {
    width: 80%;
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -40%;

    & img {
      width: 100%;
    }
  }

  &__words {
    background: white;
    padding: 100px 30px 30px;
    border-radius: 20px;
  }

  &__title {
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
  }

  & p {
    font-family: 'Truculenta', sans-serif;
    font-weight: 700;
  }

  & a {
    color: #7018A7;

    &:hover {
      cursor: pointer;
    }
  }

  &__tech-label {
    font-family: 'Truculenta', sans-serif;
    font-weight: 100;
    font-size: .8rem;
    background: #F6F6F6;
    border-radius: 3px;
    margin-right: 10px;
    padding: 5px;
  }

  &:nth-child(2) {
    margin-top: 200px;
    img {
      margin-top: -40px;
    }
  }

  &:last-child {
    margin-top: 275px;
  
    img {
      margin-top: -120px;
    }
  }
}