* {
  box-sizing: border-box;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  background: #f1f1f1;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Truculenta:wght@100;400;700&display=swap');